* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

textarea, input {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.btn-class, .btn-cancel{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: black;
    border: 2px solid black;
    background: white;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 1rem;
    font-weight: 500;
}
.btn-cancel {
    background: black;
    color: white;
}

.alert-container{
    backdrop-filter: blur(3px);
}

.popup-class{
    border: 2px solid black !important;
    border-radius: 8px !important;
}
.popup-toast {
    border: 2px solid black !important;
    border-radius: 8px !important;
    /* width: 230px !important; */
    width: fit-content !important;
    padding: 1rem !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    font-size: 1rem !important;
}
.icon-toast {
    width: 2em !important;
    height: 2em !important;
}
.letra-style{
    font-size: 2em !important;
    font-family: 'Poppins', sans-serif !important;
  }
.letra-popup{
    font-size: 1.6em !important;
    font-family: 'Poppins', sans-serif !important;
  }

.content-class h2 {
    font-size: 20px;
    font-family: 'Poppins' !important;
}



                    
